<ul class="post-list">
    {% for post in posts %}
        <li>
            <h3><a href="{{ postPage|page({'slug': post.slug}) }}">{{ post.title }}</a></h3>

            <p class="info">
                Posted
                {% if post.categories.count %} in {% endif %}
                {% for category in post.categories %}
                    <a href="{{ categoryPage|page({'slug': category.slug}) }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
                on {{ post.publshed_at|date('M d, Y') }}
            </p>

            {% if post.excerpt %}
                {{ post.excerpt }}
            {% else %}
                {{ post.content_html|raw }}
            {% endif %}
        </li>
    {% else %}
        <li class="no-data">{{ noPostsMessage }}</li>
    {% endfor %}
</ul>

{% if posts.getLastPage > 1 %}
    <ul class="pagination">
        {% if posts.getCurrentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ page: (posts.getCurrentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..posts.getLastPage %}
            <li class="{{ posts.getCurrentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ page: page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if posts.getLastPage > posts.getCurrentPage %}
            <li><a href="{{ this.page.baseFileName|page({ page: (posts.getCurrentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}